@charset 'UTF-8';

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    body {
        background: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    section#login {
        width: 90vw;
        height: 340px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position:center;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1025px) {
    
    body {
        background: linear-gradient(to top, #5f2c82, #49a09d);
    }
    
    section#login {
        width: 950px;
        height: 450px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
        text-align: center;
        font-size: 1.2em;
        padding: 2px;
    }

    div#formulario > h1 {
        text-align: center;
        margin-bottom: 2em;
        padding-top: 5px;
    }
}