@charset 'UTF-8';

/*cor1: #49a09d
cor2: #5f2c82*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: #49a09d;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    width: 250px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.358);
    transition: all 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: url(../imagens/pexels-vlada-karpovich-4451937.jpg)no-repeat right bottom;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}