@charset 'UTF-8';

/*cor1: #49a09d
cor2: #5f2c82*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: #49a09d;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    width: 280px;
    height: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.358);
    transition: all 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: url(../imagens/pexels-vlada-karpovich-4451937.jpg)no-repeat right bottom;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: center;
    font-size: 0.9em;
}

form > input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d6d;
    color: white;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.701);
    border: none;
    border-radius: 5px;
}

form > input[type="submit"]:hover{
    background-color: #49a09d;
    cursor: pointer;
}

form > a.esqueci{
    display:block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: #49a09d;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #0000002d;
    padding: 1px;
}

form > a.esqueci:hover{
    text-decoration: underline;
    padding: 2px;
    transition: all 0.3s ease;

}

form > div.campo{
    position: relative;
    display: block;
    width: calc(100% - 10px);
    height: 40px;
    border-radius: 5px;
    margin: 10px 5px;
    background-color: #5f2c82;
    padding: 0;
}

form label{
    display: none;
} 

form > div.campo > input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 0 10px 0 50px;
    font-size: 1em;
}

form > div.campo > input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

form > div.campo > span.material-symbols-outlined{
    position: absolute;
    top: 50%;
    left: 5px;
    color: white;
    transform: translateY(-50%);
}

